.second-header {
  width: 100%;
  min-width: 800px;
  height: 130px;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.second-logo {
  width: 185px;
  height: 49px;
}